body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
  padding-top: 10dvh;
  box-sizing: border-box;
}

.app-header {
  font-size: 2.5rem;
}

.chose-mode {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.app-flow {
  display: flex;
  flex-direction: column;
  gap: 25px;
}